// Aloowed values: light, dark, default
$theme: default;

// Allowed values: blue-beans, rogers-rovers, pastry-pizza, default
$brand: rogers-rovers;

// *** Colors ***
$text-color: #222;
$body-background-color: #FFF;
$theme-color: #170a48;
$secondary-color: #f27731;
$ternary-color: #ccf962;
$link-color: $secondary-color;
$menu-item-color: #FFF;

@if $theme == dark {
  $text-color: #FFF;
  $body-background-color: #22222a;
  $theme-color: #42424a;
  $secondary-color: #c24721;
  $ternary-color: #698932;
  $link-color: $secondary-color;
  $menu-item-color: #FFF;
} @else if $theme == light {
  $text-color: #000;
  $body-background-color: #FFF;
  $theme-color: #372a27;
  $secondary-color: #d26741;
  $ternary-color: #b9da63;
  $link-color: $secondary-color;
  $menu-item-color: #fff;
}

// === Fonts ===
$text-font: "Alegreya Sans", Arial, sans-serif;
$headline-font: "Titillium Web", Georgia, serif;

// === Sizes ===
$content-width: 960px;
$header-height: 60px;
$footer-height: 90px;
$col: col-width($columns: 8);
